# Fuente de datos: local | onedrive
DATA_SOURCE=onedrive

MS_TENANT_ID=e5f4364c-305d-4959-9f91-86d5019b060f
MS_CLIENT_ID=26bbd6ec-151c-46da-8003-70d4fc9d4da4
MS_CLIENT_SECRET=a8d75bfa-aac9-4aad-876d-440e89686df5

MS_DRIVE_ID=b!-xbqlcF25EqM7O8nG8z0Vup1CYovmUJPmGPilO9jp3nbrCzY1eJQT6t1w4v8KJth
MS_EXCEL_ITEM_ID=01RG7DHWHHALMBSJACYZCLYUS3KEO4LNUH
